@mixin main-motto{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    color: $white;
    font-weight: bold;
    font-size: 2.2em;
    text-shadow: 6px 1px 3px $black;
}

@mixin flexColumn ($direction:column){
    display: flex;
    @if $direction == column {  
        flex-direction: column;
    }
    @if $direction == row{
        flex-direction: row;
    }
}